* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

img {
  width: 100%;
}

/* HEADER */
header {
  background: url(../Images/Snapchat-604150882.jpg) no-repeat center
    center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

header nav {
  width: 100vw !important;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #ffff;
  position: fixed !important;
  padding: 1rem !important;
}

header .container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* WORK-SECTION */

#work .box {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#work .box img {
  height: 19rem;
  width: 19rem;
}

/* ABOUT SECTION */

#about {
  height: 100vh;
  padding: 1rem;
}

#about .row-flex {
  display: flex;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#about .top-flex {
  width: 50%;
}

#about .top-flex .grid-section {
  display: flex;
}

#about img {
  height: 29rem;
  width: 29em;
}

/* CAROUSEL */

.carousel-item {
  height: 90vh; /* Full height */
  background: no-repeat center center; /* Center the image */
  background-size: cover; /* Cover the entire area */
  position: relative;
}

.one {
  background: url(../Images/pexels-francesco-ungaro-28974077.jpg) no-repeat
    center center/cover;
}

.two {
  background: url(../Images/pexels-tranmautritam-245032.jpg) no-repeat center
    center/cover;
}

.three {
  background: url(../Images/pexels-tranmautritam-245032.jpg) no-repeat center
    center/cover;
}

.roundedimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-caption {
  position: absolute; /* Position the caption */
  bottom: 40%; /* Position from the bottom */
  inset: 0;
  top: 40%;
  padding: 1rem;
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
}

/* SOCIALS */

#socials .image {
  height: 500px;
  width: 100%;
}

/* SERVICES-SECTION */

.flex {
  display: flex;
}

/* CONTACT-SECTION */

#contact {
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

#contact form {
  border-radius: 20px;
  padding: 2rem !important;
  /* margin: 0 !important;
  padding: 0 !important; */
}

#contact .address {
  height: 50vh;
  border-radius: 1.2rem;
  padding: 2rem !important;
}

@media (max-width: 900px) {
  body {
    overflow-x: none;
  }

  header nav {
    width: 100%;
  }

  #work .box img {
    width: 100%;
    height: 15rem;
  }

  /* MEDIA QUERY FOR ABOUT SECTION */

  #about {
    height: max(60vh);
  }

  #about img {
    height: 12rem;
    width: 100%;
  }

  #about h3 {
    text-align: center;
  }
  #about P {
    font-size: 13px;
  }

  #about img {
    height: 17rem;
    width: 100%;
    margin-top: 1rem;
  }

  #socials {
    height: 60vh;
  }

  #socials .image {
    height: 300px;
    width: 100%;
  }

  /* MEDIA QUERY FOR CONTACT SECTION */
  #contact .address {
    height: 25vh;
    padding: 0.6rem;
  }

  #contact .address h4 {
    font-size: 1rem;
    text-align: center !important;
  }

  #contact .address p {
    text-align: center !important;
  }

  #socials {
    height: 50vh;
  }

  #contact .address p {
    font-size: 0.7rem;
  }

  #contact {
    padding: 1rem;
    height: 65vh;
  }

  footer {
    height: 60vh;
    padding: 0.5rem;
  }
}

@media (max-width: 450px) {
  header {
    height: 60vh;
    width: 100%;
  }

  #about {
    height: 80vh;
  }

  #about .row-div {
    width: 100% !important;
  }

  #contact {
    height: 100vh !important;
  }

  #contact .address {
    height: 30vh;
  }

  #socials {
    height: 60vh;
  }

  #accordion p {
    font-size: 0.6rem;
  }

  #contact form {
    padding: 0.5rem;
  }

  #about img {
    height: 9rem;
    width: 100%;
  }

  footer {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #about img {
    height: 10rem;
    width: 100%;
    border-radius: 5px;
  }

  #contact {
    padding: 1rem;
    height: 80vh;
  }
}
